/* $Id$ */

div.view-gmap-key-wrapper {
  position:relative;
}

div.view-gmap-key {
  background: url('whitebg.png') repeat;
  bottom: 12px;
  left: 12px;
  padding: 12px;
  position: absolute;
  border: 1px solid lightgray;
}

span.view-gmap-key-item {
  display: block;
  font-size: 10px;
  font-weight: bold;
}

span.view-gmap-key-item img {
  height:12px;
  margin-right: 7px;
  vertical-align:middle;
}

